<?xml version="1.0"?>
<ruleset name="MyProjectCodingStandard">

    <description>My Project coding standard.</description>

    <!--
    Prevent errors caused by WordPress Coding Standards not supporting PHP 8.0+.
    See https://github.com/WordPress/WordPress-Coding-Standards/issues/2035
    -->
    <ini name="error_reporting" value="E_ALL &#38; ~E_DEPRECATED" />

    <file>./src</file>

    <arg value="sp"/>
    <arg name="colors"/>

    <config name="testVersion" value="8.1-"/>
    <config name="text_domain" value="my-lovely-users"/>
    
    <rule ref="Inpsyde">
        <exclude name="WordPress.PHP.DiscouragedPHPFunctions.serialize_serialize" />
    </rule>
    
    <rule ref="Inpsyde.CodeQuality.Psr4">
        <properties>
            <property
                name="psr4"
                type="array"
                value="Inpsyde\MyLovelyUsers=>src/,Inpsyde\MyLovelyUsers\Interfaces=>src/interfaces,Inpsyde\MyLovelyUsers\Lib=>src/lib"/>
        </properties>
    </rule>

    <rule ref="Inpsyde.CodeQuality.ElementNameMinimalLength">
        <properties>
            <property name="additionalAllowedNames" type="array" value="c,me,my" />
        </properties>
    </rule>

</ruleset>